.App {
  background: #dedede;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.title {
  text-align: center;
  padding: 40px 0;
}
